* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: #181616;
}

.nav-wrap {
  width: 100%;
  height: auto;
  border-bottom: solid 2px #f6ecea;
  background-image: url("wave-lines.svg");
  background-size: 100%;
}

.nav-wrap .nav-cont {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}

.nav-wrap .nav-cont #logo {
  color: #f6edeb;
  font-size: 27px;
  font-family: obviously, sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 8px 28px 15px 28px;
  border-left: solid 2px #f6ecea;
  border-right: solid 2px #f6ecea;
  background: #181616;
}

section {
  width: 100%;
  height: 624px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section h1 {
  color: #f6edeb;
  text-align: center;
  font-size: 159px;
  line-height: 133px;
  text-transform: uppercase;
  font-family: obviously, sans-serif;
  font-weight: 800;
  font-style: normal;
}

form {
  width: 92%;
  max-width: 92%;
  margin: auto;
  border: solid 2px #f6edeb;
  margin-bottom: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (auto)[auto];
      grid-template-rows: repeat(auto, auto);
  gap: 20px;
  color: #f6edeb;
}

#result {
  width: 92%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  -ms-grid-rows: (auto)[auto];
      grid-template-rows: repeat(auto, auto);
}

#result .folio-item-wrap {
  border: solid 2px #f6edeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f6edeb;
  gap: 0px;
}

#result .folio-item-wrap h3 {
  font-size: 38px;
  width: 100%;
  margin-bottom: 0px;
  color: #f6edeb;
  text-align: center;
  display: block;
  padding: 5px;
}

#result .folio-item-wrap img {
  width: 100%;
  height: 320px;
  margin: 0;
  border-top: solid 2px #f6edeb;
  border-bottom: solid 2px #f6edeb;
  -o-object-fit: cover;
     object-fit: cover;
  background: #f6edeb;
}

#result .folio-item-wrap .author-cont {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0px;
  position: relative;
}

#result .folio-item-wrap .author-cont h5 {
  text-align: center;
  font-size: 26px;
  margin-top: 3px;
  margin-bottom: 6px;
}

#result .folio-item-wrap .author-cont button {
  padding: 2px 5px;
  border: solid 2px #f6edeb;
}

#result .folio-item-wrap .functions-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin: 10px auto 15px;
}

.modal {
  --bs-modal-width: 900px;
  --bs-modal-border-radius: 0;
  --bs-modal-border-width: 2px;
  --bs-modal-bg: hsla(0, 5%, 9%, 1);
  --bs-modal-border-color: rgb(246, 237, 235);
}
