* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: rgba(23, 21, 21, 0.933);
}


.nav-wrap {
  width: 100%;
  height: auto;
  border-bottom: solid 2px rgb(246, 237, 235);

  .nav-cont {
    width: 80%;
    margin: auto;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    #logo {
      width: 188px;
    }
  }
}

#result {
  width: 100%;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(auto, auto);

  .folio-item-wrap {
    width: 100%;
    aspect-ratio: 1/1.5;
    background: rgb(246, 237, 235);
    border-bottom: solid 2px rgb(255, 47, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
  }
}