* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: rgba(23, 21, 21, 0.933);
}

.nav-wrap {
  width: 100%;
  height: auto;
  border-bottom: solid 2px #f6edeb;
}

.nav-wrap .nav-cont {
  width: 80%;
  margin: auto;
  padding: 8px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.nav-wrap .nav-cont #logo {
  color: #f6edeb;
  font-size: 35px;
  font-family: obviously, sans-serif;
  font-weight: 700;
  font-style: normal;
}

#result {
  width: 100%;
  margin: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto, auto);
}

#result .folio-item-wrap {
  grid-area: 1, 1;
  aspect-ratio: 1/1.5;
  background: #f6edeb;
  border-bottom: solid 2px #ff2f00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

#result .folio-item-wrap h3 {
  font-size: 24px;
}

#result .folio-item-wrap img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
