* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background: hsla(0, 5%, 9%, 1);
}


.nav-wrap {
  width: 100%;
  height: auto;
  border-bottom: solid 2px hsl(11, 38%, 94%);
  background-image: url('wave-lines.svg');
  background-size: 100%;

  .nav-cont {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;

    #logo {
      // width: 188px;
      color: rgb(246, 237, 235);
      font-size: 27px;
      font-family: obviously, sans-serif;
      font-weight: 700;
      font-style: normal;
      padding: 8px 28px 15px 28px;
      border-left: solid 2px rgb(246, 236, 234);
      border-right: solid 2px rgb(246, 236, 234);
      background: hsla(0, 5%, 9%, 1);
    }
  }
}

section {
  width: 100%;
  height: 624px;
  display: flex;
  align-items: center;
  justify-content: center;


  h1 {
    color: rgb(246, 237, 235);
    text-align: center;
    font-size: 159px;
    line-height: 133px;
    text-transform: uppercase;
    font-family: obviously, sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}

#result {
  width: 92%;
  margin: auto;
  display: grid;
  padding: 0 45px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-rows: repeat(auto, auto);

  .folio-item-wrap {
    // grid-area: 1, 1;
    // aspect-ratio: 1/1.5;
    border: solid 2px rgb(246, 237, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 3px;
    color: rgb(246, 237, 235);

    h3 {
      font-size: 24px;
      width: 100%;
      padding: 18px auto 8px auto;
      // background: rgb(255, 57, 90);
      text-align: center;
    }

    img {
      width: 100%;
      height: 320px;
      border-top: solid 2px rgb(246, 237, 235);
      border-bottom: solid 2px rgb(246, 237, 235);
      object-fit: cover;
      background: rgb(246, 237, 235);
    }
  }
}